src/main/mule/test-helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="95353cfe-a1f3-445f-9b56-1d786acf5685">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-helloworldFlow" doc:id="6a4cf574-5af8-4897-9f50-a2e541643b13">
		<http:listener doc:name="Listener" doc:id="6c5a04c0-58a7-4bdf-94ea-a3204165fbc0" config-ref="HTTP_Listener_config" path="/test" />
		<ee:transform doc:name="Transform Message" doc:id="d6b3bf06-1147-47f3-afa2-62376a3a446e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
'This is a helloworld message']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="ad25ff9f-b92f-4300-93f6-cd3a500beaf6">
			<when expression="#[randomInt(100) &lt; 50]">
				<logger level="INFO" doc:name="Logger" doc:id="bf9c7c86-ca1c-4939-8804-5259674e65af" message="Path 1" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="03c0c02c-45f4-4aa5-9d75-6279500c195a" message="Path 2" />
			</otherwise>
		</choice>
	</flow>
</mule>
